.wp-block-group__inner-container {
	padding-top: 30px;
	padding-bottom: 50px;
}

.bie-information {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	min-height: 672px;
	padding: 0;
	color: #fff;
}

.bie-information::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 24px;
	background: rgba(159, 11, 79, 0.71);
	content: "";
	z-index: 10;
}

.bie-information .wp-block-cover__gradient-background {
	background: transparent !important;
}

.bie-information > .wp-block-cover__inner-container {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	height: 100%;
	padding-top: 24px;
}

.bie-information .bie-info-lead {
	width: 1020px;
	max-width: 1020px;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
}

.bie-information .bie-info-lead .wp-block-group__inner-container {
	width: 590px;
	min-width: 0;
	margin-left: 0%;
	padding: 18px 30px;
	background: rgba(255, 255, 255, 0.8);
	color: #000;
	font-size: 1.0625rem;
	line-height: 1.47;
}

.bie-information .bie-info-lead .wp-block-group__inner-container h1 {
	margin: 0;
	font-size: 1.75rem;
}

.bie-information .bie-info-lead .wp-block-group__inner-container .wp-block-button .wp-block-button__link {
	display: inline-block;
	padding: 9px 20px 10px;
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #000;
	color: #000;
	font-weight: 500;
	appearance: none;
	text-decoration: none;
}

.bie-information .bie-info-lead .wp-block-group__inner-container .wp-block-button .wp-block-button__link:hover {
	opacity: 0.8;
	text-decoration: none;
}

.bie-information .bie-info-lead .wp-block-group__inner-container .wp-block-button .wp-block-button__link i {
	margin-right: 6px;
}

.bie-information .bie-info-news {
	align-self: flex-end;
	width: 100%;
	min-height: 286px;
	padding: 0;
	overflow: hidden;
}

.bie-information .bie-info-news .wp-block-cover__gradient-background {
	background: rgba(5, 0, 2, 0.54) !important;
}

.bie-information .bie-info-news .wp-block-cover__inner-container {
	position: absolute;
	height: calc(100% - 30px);
	margin-top: 16px;
	margin-bottom: 14px;
	color: #fff !important;
	overflow: hidden;
}

.bie-information .bie-info-news .wp-block-group__inner-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.bie-information .bie-info-news .wp-block-group__inner-container h2 {
	margin: 0 30px 0 0;
}

.bie-information .bie-info-news .wp-block-group__inner-container .bie-more-link {
	align-self: center;
	margin: 0;
	padding-top: 10px;
}

.bie-information .bie-info-news .wp-block-group__inner-container .bie-more-link a {
	color: #fff;
	font-size: 0.875rem;
}

.bie-information .bie-info-news .wp-block-group__inner-container .bie-more-link i {
	margin-right: 6px;
}

.bie-information .bie-info-news .bie-info-news-area {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 16px 0 20px;
}

.locale-en .bie-information .bie-info-lead .wp-block-group__inner-container {
	font-size: 1rem;
}

.bie-greeting .wp-block-media-text {
	margin-bottom: 60px;
}

.bie-greeting .wp-block-media-text.has-media-on-the-right {
	grid-template-columns: 1fr 140px;
}

.bie-greeting .wp-block-media-text .wp-block-media-text__media {
	display: block;
	align-self: flex-start;
	border: 0;
}

.bie-greeting .wp-block-media-text__content {
	padding: 0 30px 0 0 !important;
}

.bie-researches {
	margin-bottom: 0;
}

.bie-researches .wp-block-column:last-child {
	margin-left: 24px !important;
}

.bie-researches a {
	display: flex;
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration: none;
}

.bie-researches a:hover {
	opacity: 0.8;
}

.bie-researches .bie-research-info {
	align-self: flex-start;
	width: 100%;
	height: 100%;
	padding: 18px 25px;
	background: #616161;
}

.bie-researches .bie-research-info .bie-research-label {
	font-size: 0.875rem;
}

.bie-researches .bie-research-info .bie-research-researcher {
	margin-top: 4px;
}

.bie-researches .bie-research-info .bie-research-theme {
	margin-top: 4px;
	padding-left: 15px;
	font-size: 1.125rem;
	text-indent: -8px;
}

.bie-researches .bie-research-info .bie-research-theme i {
	display: inline-block;
	margin-right: 6px;
}

.bie-banner > .wp-block-group__inner-container {
	margin-bottom: -25px;
	padding-top: 35px;
	padding-bottom: 0px;
}

.bie-banner .bie-banner-contents .wp-block-group__inner-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.bie-banner .bie-banner-contents .wp-block-group__inner-container > .wp-block-image {
	margin: 0;
	margin-left: 24px;
}

.bie-banner .bie-banner-contents .wp-block-group__inner-container > .wp-block-image:first-child {
	margin-left: 0;
}

/*# sourceMappingURL=top.css.map */