@import "_variable";
@import "_functions";
@import "_mixins";

.sidebar {
  margin-top: 40px;
  margin-bottom: 32px;
  .l-inner {
    position: sticky;
    top: 98px;
  }
  h2 {
    margin: 0 0 12px;
    padding: 12px 0 0;
    border-top: 1px solid $border-color;
    font-size: _rem(16px);
    font-weight: normal;
  }
  a, span {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 10px auto;
    gap: 0 8px;
    line-height: 1.6;
    &::before {
      display: inline-block;
      width: 10px;
      height: 24px;
      background-color: transparent;
      content: "";
    }
    &.is-current {
      font-weight: bold;
      &::before {
        background-color: $text-color;
      }
    }
  }
}

@media (min-width: 768px) {
  .sidebar {
    margin-top: 0;
  }
}