@import "_variable";

.site-footer {
  border-top: 1px solid #707070;
  .inner {
    @include Content-inner-sp;
    padding: 20px;
  }
  .copylight {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .site-footer {
    .inner {
      @include Content-inner-pc; 
      padding: 20px;
    }
  }
}