$base-font-size:   16px !default;
$base-line-height: 1.75 !default;

$sans-serif: 'Noto Sans JP', Arial, sans-serif !default;
$serif: 'Noto Serif JP', serif !default;
$roboto: 'Roboto', sans-serif !default;

$content-max-width: 1200px !default;

$sp-header-height: 55px !default;
$pc-header-height: 98px !default;

$text-color:     #000 !default;
$border-color:   #c1c1c1 !default;

$blue-gray:     #edebf5 !default;

